body {
    background-color: #bdd7ee;
}

.imagem {
    background: #160f4e;
    background-color: #10406c;
    width: 280px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.perfis {
    background-color: #10406c;
    width: 280px;
    height: 887px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 0px;
    padding-top: 20px;
}
.sombreado {
    margin-top: 5px;
    background-color: #165896;
    margin: 0px 12px;
    border-radius: 10px;
    padding-bottom: 8px;
}

.btnClientes {
    background-color: #2d71b1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 90px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    font-family: sans-serif;
    font-size: larger;
}

.btnConsultar {
    background-color: #2d71b1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 90px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    margin-top: 5px;
    font-family: sans-serif;
    font-size: larger;
    width: 220px;
}

.btnCadastrar {
    background-color: #2d71b1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 90px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    margin-top: 5px;
    font-family: sans-serif;
    font-size: larger;
    width: 220px;
}

.btnTransações {
    background-color: #2d71b1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 75px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-family: sans-serif;
    font-size: larger;
}

.btnRelatórios {
    background-color: #2d71b1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 81px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-family: sans-serif;
    font-size: larger;
}

.btnIndicações {
    background-color: #2d71b1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 78px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-family: sans-serif;
    font-size: larger;
}

.btnMonitoramento {
    background-color: #2d71b1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 60px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.5);
    margin-top: 15px;
    font-family: sans-serif;
    font-size: larger;
}

.conteudo {
    display: flex;
    height: 100vh;
    width: calc(100% - 280px);
    margin-left: 280px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 250px;
    height: 250px;
    background-color: #10406c;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
    box-shadow: 8px 8px 7px 0px rgba(0,0,0,0.3);
}

.CardText {
    background-color: #ffff;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 25px 0px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.CardImg {
    width: 130px;
    margin-top: -50px;
}

.ContainerCards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    
}