body {
    background-color: #1d0202;
}

.formCadastrar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*.formCadastrar {      vou validar depois se vai entrar ou não
    border-radius: 15px;
    background-color: #7b7777;
    width: 290px;
    height: 40px;
    margin-top: 90px;
    font-size: 25px;
    font-style: italic;
    font-family: sans-serif;
}*/

.boxCriptoCoin {
    border-radius: 15px;
    background-color: #000000;
    color: #fff;
    width: 290px;
    height: 40px;
    margin-top: 30px;
    font-size: 25px;
    font-style: italic;
    font-family: sans-serif;
}

.boxCadastro {
    border-radius: 15px;
    background-color: #000000;
    color: #fff;
    width: 288px;
    height: 520px;
    font-size: 15px;
    font-family: sans-serif;
}

.inputGrupo {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    height: 30px;
}

.inputIcone {
    width: 50px;
    height: 30px;
    background-color: #1d0202;
    display: inline-block;
    border-radius: 0px 50px 50px 0px;
}
.btnLimpar {
    color: #fff;
    background-color: #1d0202;
    border-radius: 15px;
}

.btnCadastrar {
    color: #fff;
    background-color: #1d0202;
    border-radius: 15px;
}



