body {
    background-color: #2d71b1;
}

.formCadastrar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.boxCriptoCoin {
    border-radius: 15px;
    background-color: #000000;
    color: #ffd945;
    width: 55vw;
    height: 50px;
    margin-top: 30px;
    font-size: 35px;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}

.boxCadastro {
    border-radius: 15px;
    background-color: #ffffff;
    color: #2d71b1;
    width: 55vw;
    height: 520px;
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.campos{
    display: flex;
}

.inputGrupo {
    display: flex;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
    height: 40px;
    background-color: #fff;
}

.inputIcone {
    width: 50px;
    height: 40px;
    background-color: #2d71b1;
    display: block;
    border-radius: 0px 50px 50px 0px;
}

.inputGrupo > input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    flex: 1;
    padding-left: 15px;
}

.btnLimpar {
    color: #fff;
    background-color: #2d71b1;
    border-radius: 150px;
    padding: 10px 30px;
    font-size: 18px;
    margin: 30px 15px;
}

.btnCadastrar {
    color: #fff;
    background-color: #2d71b1;
    border-radius: 150px;
    padding: 10px 30px;
    font-size: 18px;
    margin: 30px 15px;
}

.person {
    width: 25px;
    margin-top: 7px;
}

.Telefone {
    width: 25px;
    margin-top: 7px;
}

.Email {
    width: 25px;
    margin-top: 7px;
}

.Cep {
    width: 25px;
    margin-top: 7px;
}

.Cidade {
    width: 25px;
    margin-top: 7px;
}

.Logradouro {
    width: 25px;
    margin-top: 7px;
}

.Senha {
    width: 25px;
    margin-top: 7px;
}





