/*******      Index      ********/

.card {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 40px 10px;
}

.card > div > .fa-money-bill-alt {
    color: #85d674;
}

.card > div > .fa-calendar-alt {
    color: #433fad;
}

.cardBottom {
    height: 34px;
    width: 100%;
    background: linear-gradient(45deg, #8c3e7b, #3b3fb3);
    margin: 0px -10px;
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-star {
    color: #f7e355;
}

.topCripto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardCripto > label {
    cursor: pointer;
}

.cardCripto:hover {
    background-color: #443fad36;
}

.moeda {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.volume {
    color: #9a9a9a;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.valor {
    color: #443fac;
    font-weight: bold;
    text-align: center;
    display: block;
}

.valorFavorita {
    display: inline-block;
    position: absolute;
    right: 10px;
    color: #443fac;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 767px){
    .cardCripto {
        display: inline-block;
        width: 130px;
        margin: 15px;
        background-color: #fff;
        padding: 20px 35px 15px 35px;
        border-radius: 10px;
        position: relative;
        box-shadow: 2px 2px 6px -3px #000;
        cursor: pointer;
        transition: .4s;
    }

    .card h6 {
        text-align: center;
    }

}

@media (min-width: 768px) {
    .cardCripto {
        display: inline-block;
        width: 150px;
        margin: 15px;
        background-color: #fff;
        padding: 20px 35px 15px 35px;
        border-radius: 10px;
        position: relative;
        box-shadow: 2px 2px 6px -3px #000;
        cursor: pointer;
        transition: .4s;
    }

    .card h6 {
        text-align: left;
    }

}

/*******      Historico      ********/
.menu div:hover {
    background-color: #0000004a;
}

@media (max-width: 767px) {

    .conteudo {
        padding: 5px;
        background-color: #f3f3f3;
        padding-bottom: 85px;
    }

    .infos{
        margin-bottom: 15px;
        padding: 15px 30px;
    }

    .infos > div > div:first-child {
        order: 2;
    }

    .infos > div > div:last-child {
        order: 1;
    }

    .tableHistorico {
        padding: 0px 15px;
    }

    table {
        font-size: 0.6rem;
    }

    td {
        padding: 5px 10px;
    }

    .badgeSifra {
        width: 20px;
        height: 20px;
        padding: 3px;
        border-radius: 100%;
        text-align: center;
    }

    table > tbody > tr > td:nth-child(1) {
        width: 40px;
    }

    thead tr td:first-child {
        border-radius: 30px 0px 0px 0px;
    }

    thead tr td:last-child {
        border-radius: 0px 30px 0px 0px;
    }

    tbody tr td {
        border: 1px solid #433fad;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    tfoot tr td {
        background-color: #8b3e7b;
        color: #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 0px 0px 30px 30px;
        padding: 0px !important;
        overflow: hidden;
    }

    tr td:first-child {
        padding-left: 11px;
    }

    tr td:last-child {
        width: 50px;
    }

    tr td:last-child {
        padding-right: 15px;
    }

}

@media (min-width: 768px) {

    .conteudo {
        padding-left: 80px;
        background-color: #f3f3f3;
    }

    td {
        padding: 5px 15px;
    }

    table > tbody > tr > td:nth-child(1) {
        width: 50px;
    }

    .tableHistorico {
        padding: 0px 30px 30px 30px;
    }

    .badgeSifra {
        width: 35px;
        height: 35px;
        padding: 5px;
        border-radius: 100%;
        text-align: center;
    }

    thead tr td:first-child {
        border-radius: 30px 0px 0px 0px;
    }

    thead tr td:last-child {
        border-radius: 0px 30px 0px 0px;
    }

    tbody tr td {
        border: 1px solid #433fad;
    }

    tbody tr:last-child td {
        border-bottom: none;
    }

    tfoot tr td {
        background-color: #8b3e7b;
        color: #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 0px 0px 30px 30px;
        padding: 0px !important;
        overflow: hidden;
    }

    tr td:first-child {
        padding-left: 15px;
    }

    tr td:last-child {
        padding-right: 15px;
    }

}

.infos > div > div{
    background-color: #fff;
}

.cardInfo {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

h3 {
    text-align: center;
}

h3::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #443fad;
    position: relative;
    display: block;
    margin: 10px auto;
}

h6 {
    text-align: center;
    border-bottom: 1px solid #443fad;
    padding: 5px;
}

.saldoTopo {
    height: 50%;
    margin: 0px -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.saldoBottom {
    height: 50%;
    margin: 0px -15px;
    background: linear-gradient(45deg, #8c3e7b, #3b3fb3);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

thead {
    background-color: #433fad;
    color: #fff;
}

thead tr td{
    font-weight: bold;
}

.acessarHistorico {
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    height: 100%;
    padding: 5px;
}

.acessarHistorico:hover{
    color: #fff;
    text-decoration: none;
}

.badgeDinheiro {
    background-color: #85d674;
}

.badgeCriptomoeda {
    background-color: #dace60;
}