
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutVazio.cshtml";
    ViewBag.Css = "/Content/css/Dashboard.css";
}

<div class="menu">
    <button id="btnHamburguer"><i class="fas fa-chevron-right"></i></button>
    <div><i class="fas fa-user-circle"></i><label>Perfil</label></div>
    <div><i class="fas fa-wallet"></i><label>Conta</label></div>
    <div><i class="far fa-chart-bar"></i><label>Histórico</label></div>
    <div><i class="fas fa-hand-holding-usd"></i><label>Mercado</label></div>
    <div id="configuracao"><i class="fas fa-cogs"></i><label>Configuração</label></div>
</div>

<div class="conteudo">
    <div class="infos col-12">
        <div class="row justify-content-center">
            <div class="col-4 m-4 cardInfo">
                <h6>Conta para transferencia</h6>
                <strong>Agência:</strong> <label>001</label>
                <br />
                <strong>Conta:</strong> <label>00013212f-11411</label>
            </div>
            <div class="col-4 m-4 cardInfo">
                <div class="saldoTopo">Paulo victor</div>
                <div class="saldoBottom">R$ 3.700,00</div>
            </div>
        </div>
        <h3>Histórico</h3>

        <div class="col-12">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sifra
                        </td>
                        <td>
                            Tipo
                        </td>
                        <td>
                            Banco
                        </td>
                        <td>
                            Valor
                        </td>
                        <td>
                            Operação
                        </td>
                        <td>
                            Data
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            Acessar histórico
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var btnMenu = false;

    $("#btnHamburguer").on("click", function () {
        if (btnMenu) {
            $("#btnHamburguer").css("transform", "rotate(0deg)");
            $(".menu").removeClass("menuExpandido");
        } else {
            $("#btnHamburguer").css("transform", "rotate(180deg)");
            $(".menu").addClass("menuExpandido");
        }
        btnMenu = !btnMenu;
    });
</script>