
@{
    ViewBag.Title = "Historico";
    ViewBag.Css = "/Content/css/Dashboard.css";
}

<div class="col-12">
    <div class="row justify-content-center">
        <div class="card col-sm-4 m-sm-4 my-2">
            <h6>Paulo victor</h6>
            <div class="mb-3"><i class="far fa-money-bill-alt"></i> R$ 3.700,00</div>
            <div>&nbsp;<i class="far fa-calendar-alt"></i> Ultimo acesso: 15/04</div>
            <div class="cardBottom">Acessar conta</div>
        </div>
        <div class="card col-sm-4 m-sm-4 my-2">
            <h6>Favoritos</h6>
            <div><i class="fas fa-star"></i> Bitcoin<div class="valorFavorita">R$ 1195,00</div></div>
            <div><i class="fas fa-star"></i> Bitcoin Gold<div class="valorFavorita">R$ 54155,13</div></div>
            <div><i class="fas fa-star"></i> Altcoin<div class="valorFavorita">R$ 0,06</div></div>
            <div class="cardBottom">Acessar mercado</div>
        </div>
    </div>
</div>

<h3>Top 5 criptomoedas</h3>
<div class="col-12 topCripto">
    <div class="cardCripto" id="criptoBCH">
        <div class="volume">vol ---</div>
        <label class="moeda">BCH</label>
        <hr />
        <label class="valor">R$ ----</label>
    </div>
    <div class="cardCripto" id="criptoBTC">
        <div class="volume">vol ---</div>
        <label class="moeda">BTC</label>
        <hr />
        <label class="valor">R$ ----</label>
    </div>
    <div class="cardCripto" id="criptoCHZ">
        <div class="volume">vol ---</div>
        <label class="moeda">CHZ</label>
        <hr />
        <label class="valor">R$ ----</label>
    </div>
    <div class="cardCripto" id="criptoETH">
        <div class="volume">vol ---</div>
        <label class="moeda">ETH</label>
        <hr />
        <label class="valor">R$ ----</label>
    </div>
    <div class="cardCripto" id="criptoLTC">
        <div class="volume">vol ---</div>
        <label class="moeda">LTC</label>
        <hr />
        <label class="valor">R$ ----</label>
    </div>
</div>

<script>
    $(document).ready(function () {

        let bch = $("#criptoBCH");
        let btc = $("#criptoBTC");
        let chz = $("#criptoCHZ");
        let eth = $("#criptoETH");
        let ltc = $("#criptoLTC");

        $.ajax({
            url: "https://www.mercadobitcoin.net/api/BCH/ticker/",
            type: "GET",
            complete: function (data) {
                bch.children().eq(0).html("vol " + parseFloat(data.responseJSON["ticker"]["vol"]).toFixed(2));
                bch.children().eq(3).html("R$ " + parseFloat(data.responseJSON["ticker"]["last"]).toFixed(2).replace('.', ','));
            }
        });

        $.ajax({
            url: "https://www.mercadobitcoin.net/api/BTC/ticker/",
            type: "GET",
            complete: function (data) {
                btc.children().eq(0).html("vol " + parseFloat(data.responseJSON["ticker"]["vol"]).toFixed(2));
                btc.children().eq(3).html("R$ " + parseFloat(data.responseJSON["ticker"]["last"]).toFixed(2).replace('.', ','));
            }
        });

        $.ajax({
            url: "https://www.mercadobitcoin.net/api/CHZ/ticker/",
            type: "GET",
            complete: function (data) {
                chz.children().eq(0).html("vol " + parseFloat(data.responseJSON["ticker"]["vol"]).toFixed(2));
                chz.children().eq(3).html("R$ " + parseFloat(data.responseJSON["ticker"]["last"]).toFixed(2).replace('.', ','));
            }
        });

        $.ajax({
            url: "https://www.mercadobitcoin.net/api/ETH/ticker/",
            type: "GET",
            complete: function (data) {
                eth.children().eq(0).html("vol " + parseFloat(data.responseJSON["ticker"]["vol"]).toFixed(2));
                eth.children().eq(3).html("R$ " + parseFloat(data.responseJSON["ticker"]["last"]).toFixed(2).replace('.', ','));
            }
        });

        $.ajax({
            url: "https://www.mercadobitcoin.net/api/LTC/ticker/",
            type: "GET",
            complete: function (data) {
                ltc.children().eq(0).html("vol " + parseFloat(data.responseJSON["ticker"]["vol"]).toFixed(2));
                ltc.children().eq(3).html("R$ " + parseFloat(data.responseJSON["ticker"]["last"]).toFixed(2).replace('.', ','));
            }
        });
    });
</script>