
@{
    ViewBag.Title = "Index";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CriptoCoin &copy;</title>
    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="containerLogin d-flex justify-content-center align-items-center">
        <div class="boxLogin">
            <form method="post">
                <div class="imgLogo">IMG</div>
                <label>
                    <h4>Usuário:</h4>
                    <div class="inputGradient">
                        <input type="text" />
                    </div>
                </label>
                <label>
                    <h4>Senha:</h4>
                    <div class="inputGradient">
                        <input type="password" />
                    </div>
                </label>
                <div class="d-flex flex-column">
                    <button class="button btnEntrar">Entrar</button>
                    <button class="button btnCadastrar">Cadastrar-se</button>
                </div>
                <a class="esqueci">Esqueci minha senha!</a>
            </form>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

